body {
  background-color: #ddd;
  font-family: "Open Sans", sans-seraif;
  color: #333;
  padding: 0;
  margin: 0;
  line-height: 1.5;
}

.wrap-site {
  background-color: #fff;
  max-width: 1680px;
  min-width: 320px;
  margin: 0px auto;
  padding-top: 65px;
  box-shadow: 0 2px 5px #555;
  -moz-box-shadow: 0 2px 5px #555;
  -webkit-box-shadow: 0 2px 5px #555;
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 22.5px;
}

h3 {
  font-size: 18px;
}

a {
  color: #333;
  text-decoration: none;
  outline: 0;
}
a:active, a:focus, a:hover {
  color: #333;
  text-decoration: none;
  outline: 0;
}

.site-header {
  background-color: white;
  margin: 0;
  padding: 0;
  max-width: 1680px;
  width: 100%;
  height: 60px;
  position: fixed;
  top: 0;
  z-index: 100;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
  align-content: stretch;
}

.top-menu ul {
  margin: 0;
  padding: 0;
}
.top-menu ul li {
  display: inline-block;
}
.top-menu ul li a {
  display: inline-block;
  margin: 0;
  text-transform: uppercase;
  color: #4d8c6c;
  -moz-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  -webkit-transition: all 0.4s ease 0s;
  transition: all, 0.4s, ease, 0s;
}
.top-menu ul li a:hover {
  color: #2a4c3b;
}

.top-phone {
  font-size: 16.5px;
}

.hidden-menu {
  display: none;
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 101;
  top: 0;
  left: 0;
}
.hidden-menu ul {
  margin: 0;
  padding: 0;
  text-align: center;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: stretch;
  align-content: stretch;
}
.hidden-menu ul li a {
  display: inline-block;
  margin: 20px auto;
  color: #fff;
}

.btn-menu {
  display: none;
  text-align: center;
  width: 60px;
  height: 60px;
  line-height: 60px;
  background-color: #333;
  color: #4d8c6c;
  cursor: pointer;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 102;
  font-size: 30px;
  -moz-transition: all 0.35s ease 0s;
  -o-transition: all 0.35s ease 0s;
  -webkit-transition: all 0.35s ease 0s;
  transition: all, 0.35s, ease, 0s;
}
.btn-menu:hover {
  color: #2a4c3b;
}

.line {
  width: 97%;
  background-color: #ddd;
  height: 2px;
  margin: auto;
}

.main-title {
  font-size: 30px;
  letter-spacing: 3px;
  margin: 0 auto;
  padding: 10px 20px;
}

.main-img {
  height: 600px;
  background-image: url(../img/bg/bg_3.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  box-shadow: 0 2px 5px #555;
  -moz-box-shadow: 0 2px 5px #555;
  -webkit-box-shadow: 0 2px 5px #555;
}

#owl-demo .item {
  padding: 3px;
  margin: 3px;
}

#owl-demo .item img {
  display: block;
  width: 100%;
  height: auto;
  box-shadow: 0 2px 5px #555;
  -moz-box-shadow: 0 2px 5px #555;
  -webkit-box-shadow: 0 2px 5px #555;
}

.section-title {
  margin: 10px 0 0;
  text-align: center;
  text-transform: uppercase;
  font-size: 22.5px;
}

.container {
  width: 98%;
  max-width: 1300px;
  margin: 0px auto;
}

.rndm-text {
  padding: 10px 0 0;
  text-align: center;
}

.wrap-bio {
  max-width: 960px;
  margin: 0 auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: stretch;
  align-content: stretch;
}

.bio-item {
  text-align: center;
  width: 280px;
  margin: 20px;
}
.bio-item img {
  width: 200px;
  height: 200px;
  -moz-webkit-border-radius: 50%;
  -o-webkit-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  box-shadow: 0 2px 5px #555;
  -moz-box-shadow: 0 2px 5px #555;
  -webkit-box-shadow: 0 2px 5px #555;
}

.item-title {
  color: #4d8c6c;
  text-transform: uppercase;
  margin: 8px auto;
}

.frst-section,
.examples-section,
.bio-section,
.slider-section,
.chart-section,
.contacts-section {
  padding: 50px 0;
}

.slider-tabs {
  text-align: center;
}

.r-tabs-anchor {
  display: inline-block;
  text-align: center;
  margin: 10px;
  padding: 5px 10px;
  color: #4d8c6c;
  border: 1px solid #4d8c6c;
  -moz-webkit-border-radius: 5px;
  -o-webkit-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-transition: all 0.35s ease 0s;
  -o-transition: all 0.35s ease 0s;
  -webkit-transition: all 0.35s ease 0s;
  transition: all, 0.35s, ease, 0s;
}
.r-tabs-anchor:hover {
  color: #2a4c3b;
  border: 1px solid #2a4c3b;
}

.slider-item-img img {
  display: block;
  margin: 0px auto;
  max-width: 600px;
  max-height: 400px;
  width: 100%;
  box-shadow: 0 2px 5px #555;
  -moz-box-shadow: 0 2px 5px #555;
  -webkit-box-shadow: 0 2px 5px #555;
}

.slider-item-desc {
  padding: 10px 0 0;
}

.chart-item {
  margin: 20px 0;
  padding: 15px;
  border: 1px solid #4d8c6c;
  -moz-webkit-border-radius: 5px;
  -o-webkit-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  align-content: stretch;
}

.chart-item-img img {
  display: block;
  margin: auto;
  width: 300px;
  height: 200px;
  -moz-webkit-border-radius: 5px;
  -o-webkit-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  box-shadow: 0 2px 5px #555;
  -moz-box-shadow: 0 2px 5px #555;
  -webkit-box-shadow: 0 2px 5px #555;
}

.chart-item-desc {
  padding: 0 15px;
}
.chart-item-desc p {
  font-style: italic;
  font-size: 12px;
}

.chart-item-line {
  background-color: #4d8c6c;
  height: 15px;
  margin-top: 10px;
}

.chart-item-line2 {
  background-color: #4d8c6c;
  height: 15px;
  margin-top: 10px;
  width: 60%;
}

.chart-item-line3 {
  background-color: #4d8c6c;
  height: 15px;
  margin-top: 10px;
  width: 45%;
}

.wrap-contacts {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: stretch;
  align-content: stretch;
}

.wrap-map {
  height: 450px;
  box-shadow: 0 2px 5px #555;
  -moz-box-shadow: 0 2px 5px #555;
  -webkit-box-shadow: 0 2px 5px #555;
  flex: 0 1 49%;
}

.wrap-form {
  height: 450px;
  flex: 0 1 49%;
}

.form-item {
  margin: 10px 0;
}
.form-item label, .form-item input, .form-item textarea {
  display: block;
  width: 99%;
  font-size: 18px;
}

.submit {
  background-color: #4d8c6c;
  color: white;
  border: 0;
  padding: 10px 15px;
  font-size: 15.75px;
  -moz-webkit-border-radius: 5px;
  -o-webkit-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  cursor: pointer;
  -moz-transition: all 0.35s ease 0s;
  -o-transition: all 0.35s ease 0s;
  -webkit-transition: all 0.35s ease 0s;
  transition: all, 0.35s, ease, 0s;
}
.submit:hover {
  background-color: #2a4c3b;
}

.site-footer {
  background-color: #4d8c6c;
  color: #fff;
  padding: 50px 15px;
}
.site-footer .copyright {
  font-size: 13.5px;
}
