@media only screen and (max-width: 768px) {
	.top-menu{
		display: none;
	}    
	.btn-menu {
		display: block;
	}
	.top-phone {
		flex: 0 1 200px;
	}
	.main-title {
		font-size: 24px;
	}
	.section-title {
		font-size: 19px;
	}
	.r-tabs-anchor {
		display: block;
	}
	.routes-item {
		flex-flow: column nowrap;
	}
	.wrap-contacts {
		flex-flow: column nowrap;
	}
	.routes-item .item-title {
		text-align: center;
	}
	.routes-item-img img {
		margin: 0 auto 10px;
	}
}
@media only screen and (max-width: 480px) {
    .top-phone {
    	display: none;
    }
    .top-logo {
    	flex: 0 1 90%;	
    }
}